<!-- Footer Section -->
<footer class="del-opacity">
    <!-- Footer Information Section -->
    <div class="f_info del-opacity">
      <!-- Social Media Icons -->
      <div class="f_info_socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
  
      <!-- Brand Information -->
      <div class="f_info_brand"> &copy; DoodleNest Private Limited</div>
  
      <!-- Footer Links -->
      <div class="f_info_links">
        <a class="disabled-element" href="/privacy">Privacy</a>
        <a class="disabled-element" href="/terms">Terms</a>
      </div>
    </div>
  </footer>
  